* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

:root {
    --text-color: #FFF;
    --bg-color: #312d46;
}


body {
    color: var(--text-color);
    background: var(--bg-color);
}


.home {
    width: 100%;
    align-items: center;
}

.home img {
    width: 100%;
    height: 680px;
}



/* ----seção marca----- */
.marca{
	width: 100%;
    height: auto;
	text-align: center;
	background-color: #423c5f;
}

.marca h2{
	font-size: 12px;
	color: white;
	padding-top: 12px 0;
}

@media (max-width: 768px) {
    .marca h2{
        font-size: 10px;
    }
    .home img {
        width: 100%;
        height: auto;
    }
}
